<section class="header row">
  <div (click)="redirectHome()" class="header-logo col-md-3">
    E-Commerce
    <span class="header-logo-subtext">platform</span>
  </div>
  <div class="header-searchbox col-md-6">
    <form class="form-inline">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input
        class="form-control mr-sm-2"
        (blur)="searchProduct($event)"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </form>
  </div>
  <div class="header-icons col-md-3">
    <div class="header-icons-cart" (click)="goToCart()">
      <span class="badge badge-light">{{ totalItems }}</span
      ><i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
    <div *ngIf="user" class="header-icons-profile">
      <i
        (click)="showProfileMenu()"
        class="fa fa-caret-down"
        aria-hidden="true"
      ></i>
      <img
        class="header-icons-profile-image"
        alt="profile-image"
        [src]="user.profileImageUrl"
      />
      <div *ngIf="showExtraMenu" class="header-icons-profile-extraMenu">
        <ul>
          <li>Hello, {{ user.name }}</li>
        </ul>
      </div>
    </div>
    <div *ngIf="!user" class="header-icons-profile">Login</div>
  </div>
</section>
