<section *ngIf="productDetails" class="pdp-container row">
  <div class=" pdp-container-imagesection col-md-5">
    <div class="card">
      <img class="card-img-top  " [src]="productDetails.imageUrl" alt="Card image cap">
    </div>
    <button (click)="addToCart()" class="btn btn-outline-secondary btn-block pdp-container-imagesection-button"> BY NOW </button>
  </div>
  <div class=" pdp-container-detailssection col-md-7">
    <h2>{{productDetails.name}}</h2>
    <app-rating [rating]='productDetails.rating' [itemId]='productDetails.id'></app-rating>
    <div class="row col-md-12">
      <table>
        <tr>
          <td>
            <strong>
              Price:
            </strong>
          </td>
          <td>${{productDetails.price}}</td>
        </tr>
        <tr>
          <td>
            <strong>
              Discount:
            </strong>
          </td>
          <td>${{productDetails.discount}}</td>
        </tr>
        <tr>
          <td>
            <strong>
              In Stock:
            </strong>
          </td>
          <td>{{productDetails.inStock}}pc</td>
        </tr>
        <tr>
          <td>
            <strong>
              Category Name: 
            </strong>
          </td>
          <td>&nbsp;{{productDetails.category.name}}</td>
        </tr>
      </table>
    </div>
    <p><strong> Specification</strong></p>
    <ul>
      <li>Smooth Layout</li>
      <li>All in one place</li>
      <li>Elegant Interface</li>
      <li>Exceptional Customer Service</li>
    </ul>

    <p><strong> System Requirements</strong></p>
    <ul>
      <li>500Mb Free Disk Space</li>
      <li>DVD/CD Rom Drive</li>
     
    </ul>

  </div>

</section>