.facet {
  box-shadow: 0 0 20px lightgrey;
}

/* tree structure navigation */
$color_1: black;

ul {
  list-style-type: none;
}
#myUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.caret {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &::before {
    content: '\25B6';
    color: $color_1;
    display: inline-block;
    margin-right: 6px;
  }
}
.caret-down {
  &::before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
.nested {
  display: none;
}
.active {
  display: block;
}
